<mat-card class="mat-elevation-z8">

<!-- 	  <mat-card-title>Sign In</mat-card-title>    -->
	  
	  <mat-form-field  appearance="outline">
		<mat-label id="some-label">Name</mat-label>
		<input matInput [formControl]="firstName" value={{user.firstName}}  >
	  </mat-form-field>

	  <mat-form-field appearance="outline">
		<mat-label>E-Mail</mat-label>
		<input matInput [formControl]="email" value={{user.email}} type="email">
	  </mat-form-field>
	  	  
	  <mat-card-actions class="kean-card-actions">
	  	<a mat-stroked-button  *ngIf="showLogoff " color="primary" (click)="onLogoff()">Sign out</a>
		<a mat-stroked-button  *ngIf="showLogon "  color="primary" (click)="onLogon() ">Sign in with Google</a>
	  </mat-card-actions>
	
</mat-card>

