<mat-card class="mat-elevation-z8">
	
	 <mat-card-title>Buy (under construction)</mat-card-title>  
	
	 <mat-form-field  appearance="outline" class="kean-full-width">
		<mat-label>ISBN</mat-label>
		<input matInput [formControl]="id" value={{book.id}}>
	 </mat-form-field>
	
	 <mat-form-field appearance="outline" class="kean-full-width">
		<mat-label>Title</mat-label>
		<input matInput [formControl]="title" value={{book.title}}>
	 </mat-form-field>
	 
	 <mat-form-field appearance="outline" class="kean-full-width">
		<mat-label>Author</mat-label>
		<input matInput [formControl]="author" value={{book.author}}>
	 </mat-form-field>
	 
	 <mat-form-field appearance="outline" class="kean-full-width">
		<mat-label>Edition</mat-label>
		<input matInput [formControl]="edition" value={{book.edition}}>
	 </mat-form-field>
	 
	 <mat-form-field appearance="outline" class="kean-full-width">
		<mat-label>Asking Price</mat-label>
		<input matInput [formControl]="askingPrice" value={{ask.price}}>
	 </mat-form-field>
	 
	 <mat-form-field appearance="outline" class="kean-full-width">
		<mat-label>Seller Notes</mat-label>
		<input matInput [formControl]="sellerNotes" value={{ask.notes}}>
	 </mat-form-field>
	 
	 <mat-form-field appearance="outline" class="kean-full-width">
		<mat-label>Notes</mat-label>
		<input matInput [formControl]="notes" value={{bid.notes}} placeholder="Notes to Seller [optional]">
	 </mat-form-field>
	 
	 <mat-card-actions class="kean-card-actions">
		<a mat-stroked-button  color="primary" (click)="onBuy() ">Buy It</a>
	 </mat-card-actions>
	

</mat-card>
